web/src/Gushh/BackendBundle/Controller/FixController.php
web/app/bootstrap.php.cache
web/app/cache/*
web!app/cache/.gitkeep
web/app/config/parameters.yml
web/app/logs/*
web/app/phpunit.xml
web/bin/
web/composer.phar
web/vendor/
web/web/bundles/
web/web/frontend/images/hotels/
web/web/frontend/images/rooms/
web/web/frontend/images/slider/
web/web/frontend/images/cities/
web/nbproject/private/

api/.idea/
/nbproject/private/

*.pyc
api/instance/zohartours.db
venv