/*
 * ZoharTours Theme
 * Copyright 2015 - lo9i labs
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
.btn {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ui.zohar.button,
.ui.zohar.buttons .button {
  background-color: #144263;
  color: #fff;
  text-shadow: none;
  background-image: none;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #b4ddd9;
}
body.green {
  background: #b4ddd9;
}
.Header {
  background: #144263;
  height: 91px;
  position: relative;
}
.Header-arrow {
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid #144263;
  position: absolute;
  bottom: -0.5em;
  text-align: center;
  left: 50%;
  margin-left: -0.5em;
  z-index: 99;
}
.Header-logo {
  max-width: 100%;
  padding: 26px 22px 24px 0px;
}
.Footer-logo {
  max-width: 100%;
  margin-bottom: 2em;
}
.Footer-top {
  padding: 2em 0;
  background: #144263;
  font-size: 14px;
}
.Footer-title {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1.5em;
  font-weight: bold;
  line-height: 3.5em;
}
.FooterItem {
  display: block;
  margin: 0.5em 0 1em;
  overflow: hidden;
}
.FooterItem-title {
  color: #fff;
  font-weight: bold;
}
.FooterItem-description {
  font-size: 12px;
  color: #8aa1af;
}
.FooterItem-description span {
  line-height: 24px;
}
.FooterItem-description span:last-child {
  padding-left: 1.5em;
}
.FooterItem-description span:first-child {
  margin-top: -1px;
  margin-left: -7px;
  font-size: 24px;
  position: absolute;
  color: #fff;
}
.FooterItem-description a {
  color: #8aa1af;
  text-decoration: none;
}
.FooterItem-link {
  text-align: right;
}
.FooterItem-link a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  line-height: 1.25em;
}
.SearchForm-title {
  font-weight: 700;
  color: #144263;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 0.5em 0.25em;
  text-align: center;
}
.SearchForm-label {
  color: #144263;
  text-transform: uppercase;
  font-style: italic;
  font-size: 0.8em;
  padding: 0.5em 0.25em;
}
.SearchForm-control {
  position: relative;
}
.SearchForm-control span {
  position: absolute;
  right: 0.4em;
  top: 0.4em;
  font-size: 1.2em;
  color: #77787a;
}
.SearchForm-control span.fix-font {
  font-size: 2em;
  top: 1px;
  right: 1px;
}
.SearchForm-input,
.SearchForm-select {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #898a8a;
  color: #77787a;
  font-size: 0.7em;
  line-height: 1.8em;
}
.SearchForm-input::-webkit-input-placeholder {
  color: #77787a;
}
.SearchForm-input:-moz-placeholder {
  color: #77787a;
}
.SearchForm-input::-moz-placeholder {
  color: #77787a;
}
.SearchForm-input:-ms-input-placeholder {
  color: #77787a;
}
.SearchForm-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.SearchForm-submit {
  margin-top: 1.75em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
.SearchForm-nights {
  color: #144263;
  text-transform: uppercase;
  font-style: italic;
  font-size: 0.5em;
  text-align: right;
  line-height: 2em;
  font-weight: 700;
}
.DestinationCard {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.DestinationCard img {
  max-width: 100%;
}
.FooterNav {
  font-size: 11px;
  padding: 1.5em 0;
}
.FooterNav-list {
  text-decoration: none;
  text-align: right;
}
.FooterNav-item {
  display: inline-block;
  margin: 0.5em 0;
  letter-spacing: 0.3em;
  word-spacing: 0.5em;
}
.FooterNav-item::after {
  display: inline-block;
  content: '|';
  font-size: 0.8em;
  line-height: 16px;
  margin: -0.3em 3em 0 2em;
  vertical-align: top;
}
.FooterNav-item:last-child::after {
  content: '';
  margin: 0;
}
.FooterNav-link {
  color: #124364;
  text-decoration: none;
}
.FooterNav-link:active,
.FooterNav-link:focus,
.FooterNav-link:hover {
  outline: none;
  text-decoration: none;
}
.Navigation {
  display: inline-block;
  height: 100%;
}
.Navigation-list {
  font-size: 12px;
  text-decoration: none;
  line-height: 73px;
  text-align: right;
}
.Navigation-item {
  display: inline-block;
  padding: 0.5em 2em;
  position: relative;
}
.Navigation-item.active .Navigation-link {
  border-bottom: 2px solid #fff;
}
.Navigation-item.active .Navigation-link:active,
.Navigation-item.active .Navigation-link:focus,
.Navigation-item.active .Navigation-link:hover {
  outline: none;
  color: #fff;
}
.Navigation-item.active:after {
  font-size: 16px;
  content: '';
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid #144263;
  position: absolute;
  bottom: -0.9em;
  text-align: center;
  left: 50%;
  margin-left: -0.5em;
  z-index: 99;
}
.Navigation-item.active:first-child:after {
  font-size: 0;
}
.Navigation-link {
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #fffeff;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 0.5em;
  position: relative;
}
.Navigation-link-login {
  margin-left: 4em;
}
.Navigation-link span {
  font-size: 1.5em;
  position: absolute;
  top: -0.1em;
  right: -1.3em;
}
.Navigation-link:active,
.Navigation-link:focus,
.Navigation-link:hover {
  outline: none;
  color: #009bc3;
  text-decoration: none;
  border-bottom: 2px solid #009bc3;
  outline: none;
}
.SocialMedia-list {
  text-decoration: none;
  text-align: right;
}
.SocialMedia-item {
  display: inline-block;
}
.SocialMedia-link {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.SocialMedia-link span {
  display: none;
}
.SocialMedia-link:active,
.SocialMedia-link:focus,
.SocialMedia-link:hover {
  outline: none;
  text-decoration: none;
  color: #019ac4;
}
#demoContainer {
  height: 700px;
  background: #f5f5f5;
}
.Util {
  white-space: nowrap;
  overflow: hidden;
}
.Util-arrow-bottom {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #f00;
}
.Util-hide-text {
  text-indent: 100%;
}
.Util-text-left {
  text-align: left;
}
.Util-text-center {
  text-align: center;
}
.Util-text-right {
  text-align: right;
}
.Util-no-padding {
  padding: 0 !important;
}
.Breadcrum {
  padding: 0.2em 1em 1em 0;
  margin: 4em 0 1em;
  list-style: none;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  font-size: 0.75em;
}
.Breadcrum > li {
  display: inline-block;
  margin-bottom: 0.5em;
}
.Breadcrum > li:last-child::after {
  content: '';
}
.Breadcrum > li::after {
  margin: 0 1em;
  color: #898a8a;
  content: '>';
  font-size: 0.8em;
}
.Breadcrum > li.active {
  color: #898a8a;
}
.SearchResult {
  margin: 3em 0 1em;
}
.SearchResult-title {
  color: #144263;
  text-transform: uppercase;
  font-weight: 700;
}
.SearchResult-title span {
  color: #019ac4;
}
.SearchResult-title span:last-child {
  font-size: 1.5em;
  float: right;
  margin-right: 1em;
}
.ResultCard {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 700;
  min-height: 300px;
  background: #144263;
  border: 2px solid #144263;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.ResultCard-title {
  display: block;
  color: #019ac4;
  font-weight: 700;
  padding: 16px 24px;
  background-color: #fff;
}
.ResultCard-title span {
  color: #019ac4;
}
.ResultCard-info {
  padding: 24px 24px 0px 24px;
}
.ResultCard-label {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 24px;
  color: #019ac4;
}
.ResultCard-label span {
  display: block;
  line-height: 32px;
  font-style: normal;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
.CityCard {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 700;
  min-height: 300px;
  background: #ddd;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.CityCard-wall {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(20,66,99,0.75);
}
.CityCard-wall-title {
  padding: 2em 3em;
}
.CityCard-wall-title span {
  color: #019ac4;
}
.CityCard-wall-city {
  padding: 0em 1.5em 1em;
  font-size: 2em;
}
.CityCard-wall-city span {
  font-style: italic;
  color: #019ac4;
  display: block;
  font-size: 0.5em;
  font-weight: 500;
}
.CityCard-link {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 1em;
  border: 2px solid #019ac4;
  padding: 1em 1.3em;
  font-weight: 700;
  margin-left: 3em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.CityCard-link:active,
.CityCard-link:focus,
.CityCard-link:hover {
  color: #fff;
  background: #019ac4;
  text-decoration: none;
}
.CityCard-image {
  max-width: 100%;
  object-fit: cover;
}
.RoomItem {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.5em;
  padding: 0 3em 2em;
}
.RoomItem-item {
  border: 2px solid #f00;
}
.RoomItem-description {
  color: #77787a;
  font-size: 0.75em;
  line-height: 1.5em;
  font-weight: 400;
  word-spacing: 0.5em;
  border-bottom: 1px solid #c5c6c8;
  text-align: justify;
  padding-bottom: 1em;
  margin-bottom: 1em;
  text-align: justify;
}
.RoomItem-description:last-child {
  font-weight: 700;
  border-bottom: none;
  padding: 0;
  margin: 0;
}
.RoomItem-service {
  color: #77787a;
  font-size: 0.75em;
  line-height: 1.5em;
  font-weight: 400;
  word-spacing: 0.5em;
  border-bottom: 1px solid #c5c6c8;
  text-align: justify;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  text-align: justify;
}
.RoomItem-service:last-child {
  border-bottom: none;
  padding: 0;
  margin: 0;
}
.RoomItem-header {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 700;
  color: #144263;
  position: relative;
  margin-bottom: 0.5em;
}
.RoomItem-subtitle {
  font-size: 0.75em;
  font-weight: 700;
  color: #144263;
  position: relative;
  margin-bottom: 0.5em;
}
.HotelCard {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.5em;
  background-color: #fff;
  height: 150px;
}
.HotelCard-description {
  padding-top: 0.5em;
}
.HotelCard-description-address {
  color: #77787a;
  font-size: 14px;
  padding: 0.5rem 1.25rem;
  line-height: 1.4rem;
  margin-left: 1rem;
}
.HotelCard-description-address span {
  font-size: 22px;
  position: absolute;
  margin-left: -22px;
  color: #77787a;
}
.HotelCard-slider {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
}
.HotelCard-image {
  max-width: 100%;
  height: 150px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.HotelCard-no-image {
  max-width: 100%;
  height: 150px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #175476;
}
.HotelCard-stars {
  color: #fabb00;
  padding: 0.7em 1em;
}
.HotelCard-link {
  color: #019ac4;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.HotelCard-link:active,
.HotelCard-link:focus,
.HotelCard-link:hover {
  color: #fff;
  text-decoration: none;
}
.HotelCard-link:active span,
.HotelCard-link:focus span,
.HotelCard-link:hover span {
  color: #019ac4;
}
.HotelCard-link h2 {
  padding: 0.7em 1em;
}
.HotelCard-header {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 700;
  background: #144263;
  color: #019ac4;
  position: relative;
}
.HotelCard-header::before {
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-right: 0.5em solid #144263;
  position: absolute;
  top: 50%;
  text-align: center;
  left: 0;
  margin-left: -0.5em;
  z-index: 99;
  content: '';
  margin-top: -0.5em;
}
.HotelCard-header span {
  display: block;
  color: #fff;
}
.HotelCard-amenities {
  text-align: right;
  padding: 15px;
}
.HotelCard-amenities span {
  color: #144263;
  font-size: 2em;
}
.ResultHotelRoom {
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 16px;
}
.ResultHotelRoom .btn {
  -webkit-border-radius: 16px;
  border-radius: 16px;
}
.ResultHotelRoom-infoList {
  padding: 16px;
  text-align: center;
  margin-bottom: 10px;
}
.ResultHotelRoom-infoList li {
  display: inline-block;
}
.ResultHotelRoom-priceTable {
  padding: 16px 16px 0 16px;
  color: #77787a;
  margin-bottom: 10;
}
.ResultHotelRoom-priceTable th,
.ResultHotelRoom-priceTable td {
  padding: 5px !important;
  text-align: right;
}
.ResultHotelRoom-priceTable tr.total th,
.ResultHotelRoom-priceTable tr.total td {
  color: #144263;
  font-weight: 700;
  text-transform: uppercase;
}
.ResultHotelRoom-priceTableDetailsContainer {
  padding: 0 16px;
}
.ResultHotelRoom-priceTableDetails {
  margin: 10px 0;
  color: #77787a;
  border: 1px solid #ddd;
}
.ResultHotelRoom-priceTableDetails span {
  cursor: pointer;
}
.ResultHotelRoom-priceTableDetails span.label-warning {
  background: #ff0;
  color: #144263;
}
.ResultHotelRoom-priceTableDetails thead th {
  font-weight: 700;
  border-bottom: 0 !important;
}
.ResultHotelRoom-priceTableDetails th,
.ResultHotelRoom-priceTableDetails td {
  font-size: 14px;
  padding: 5px !important;
  text-align: center !important;
}
.ResultHotelRoom-priceTableDetails th span,
.ResultHotelRoom-priceTableDetails td span {
  font-weight: 400;
}
.ResultHotelRoom-priceTableDetails th {
  font-size: 12px;
}
.ResultHotelRoom-title {
  margin-bottom: 12px;
  color: #144263;
  font-weight: 700;
}
.ResultHotelRoom-alert {
  text-transform: uppercase;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.ResultHotelRoom-alert a.btn-warning {
  background: #ff0;
  color: #144263;
  border-color: #d6ff30;
}
.ResultHotelRoom-alert a.btn-warning:hover {
  background: #dbdb00;
}
.ResultHotelRoom-alert span.label-warning {
  background: #ff0;
  color: #144263;
}
.ResultHotelRoom-alert h2 {
  font-size: 2em;
}
.ResultHotelRoom-alert h3 {
  font-size: 1.75em;
}
.ResultHotelRoom-alert h4 {
  font-size: 1em;
}
.ResultHotelRoom-alert.success {
  background-color: #dff0d8;
  color: #3c763d;
}
.ResultHotelRoom-alert.success > .ResultHotelRoom-title {
  color: #007500;
}
.ResultHotelRoom-alert.info {
  background-color: #d9edf7;
  color: #31708f;
}
.ResultHotelRoom-alert.danger {
  background-color: #f2dede;
  color: #a94442;
}
.ResultHotelRoom-alert.danger > .ResultHotelRoom-title {
  color: #a94442;
}
.ResultHotelRoom-alert.warning {
  color: #8a6d3b;
  background-color: #faebcc;
}
.ResultHotelRoom-messageList > .ResultHotelRoom-message {
  margin-bottom: 5px;
  line-height: 1em;
}
.ResultHotelRoom-message {
  font-size: 0.8em;
  padding: 0;
}
.ResultHotelCard {
  border: 2px solid #144263;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0.5em;
  background: #fff;
}
.ResultHotelCard-description-address {
  color: #77787a;
  font-size: 14px;
  line-height: 1.5em;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0 0 0.5rem 1rem;
}
.ResultHotelCard-description-address span {
  font-size: 22px;
  position: absolute;
  margin-left: -22px;
  color: #77787a;
}
.ResultHotelCard-title {
  text-transform: uppercase;
  display: block;
  color: #144263;
  font-weight: 700;
  padding: 16px 24px;
  background-color: #fff;
}
.ResultHotelCard-slider {
  max-width: 100%;
  height: 150px;
  max-height: 150px;
}
.ResultHotelCard-image {
  max-width: 100%;
  height: 150px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.ResultHotelCard-stars {
  padding: 16px 0 0 16px;
  color: #fabb00;
}
.ResultHotelCard-link {
  color: #144263;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ResultHotelCard-link:active,
.ResultHotelCard-link:focus,
.ResultHotelCard-link:hover {
  color: #019ac4;
  text-decoration: none;
}
.ResultHotelCard-link:active span,
.ResultHotelCard-link:focus span,
.ResultHotelCard-link:hover span {
  color: #019ac4;
}
.ResultHotelCard-link h2 {
  padding: 0.7em 1em;
}
.ResultHotelCard-link span {
  margin-bottom: 0.5rem;
}
.ResultHotelCard-no-result {
  color: #144263;
  padding: 0.7em 1em;
}
.ResultHotelCard-header {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  color: #019ac4;
  position: relative;
}
.ResultHotelCard-header span {
  display: inline-block;
}
.ResultHotelCard-header span.label {
  margin-left: 16px;
  font-size: 10px;
  font-weight: normal;
  padding: 5px 7px 3px;
  margin-bottom: 0.5rem;
}
.ResultHotelCard-amenities {
  padding: 8px 0 0 16px;
}
.ResultHotelCard-amenities span {
  color: #144263;
  font-size: 2em;
}
.ResultHotelCard-summary {
  margin-right: -1px;
  position: relative;
  min-height: 150px;
  padding: 16px;
  background: #144263;
  color: #fff;
}
.ResultHotelCard-viewRooms {
  color: #fff;
  text-transform: uppercase;
  background: #019ac4;
  margin-top: 1.75em;
  -webkit-border-radius: 16px;
  border-radius: 16px;
}
.ResultHotelCard-viewRooms:active,
.ResultHotelCard-viewRooms:focus {
  color: #fff;
}
.ResultHotelCard-viewRooms:hover {
  color: #144263;
  background: #fff;
  text-decoration: none;
}
.ResultHotelCard-lowPrice {
  text-align: right;
  color: #019ac4;
  font-size: 0.75em;
}
.ResultHotelCard-lowPrice span {
  padding: 8px 0;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  display: inline-block;
  text-align: right;
}
.ResultHotelCard-lowPrice span small {
  font-size: 0.75em;
  vertical-align: middle;
  line-height: 1em;
}
.BigItem {
  margin: 3em 0;
  text-align: center;
}
.BigItem-link {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  width: 100%;
  height: 275px;
  border: 2px solid #144263;
  font-size: 1em;
  text-transform: uppercase;
  padding: 0.8em 1em;
  display: inline-block;
}
.BigItem-link:active,
.BigItem-link:focus,
.BigItem-link:hover {
  text-decoration: none;
  outline: none;
  background: #144263;
  color: #fff;
}
.Title {
  font-size: 2em;
  color: #144263;
  font-weight: 700;
  padding: 1em 0 0.5em;
  text-transform: uppercase;
}
.Title span {
  display: block;
  color: #019ac4;
}
.Subtitle {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 1em;
  color: #898a8a;
  font-weight: 700;
  padding: 3em 0 0;
}
.Subtitle span {
  color: #019ac4;
}
.Subtitle i {
  display: block;
}
.Subtitle-primary span {
  color: #144263;
}
.DestinationBack {
  margin: 2em 0;
}
.DestinationBack-item {
  background-color: #fff;
  border: 2px solid #144263;
  text-align: center;
  display: block;
  min-height: 296px;
  position: relative;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  transition: all 1s ease-in;
  padding: 5em 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin: 2px 2px 2em 2px;
}
.DestinationBack-title {
  font-size: 2em;
  color: #144263;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1.5em;
}
.DestinationBack-title em {
  font-style: italic;
  display: block;
  font-size: 0.5em;
}
.DestinationBack-title span {
  display: block;
}
.DestinationBack-link {
  padding: 1em 1.3em;
  font-weight: 700;
  color: #144263;
  border: 2px solid #144263;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.DestinationBack-link:hover {
  background: #144263;
  color: #fff;
  text-decoration: none;
}
.Destination {
  margin: 2em 0;
}
.Destination-item {
  display: block;
  height: 300px;
  background: #144263;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  overflow: hidden;
  border: 2px solid #b4ddd9;
}
.Destination-item:hover .Destination-info {
  bottom: 0;
}
.Destination-item:hover .Destination-title {
  margin: 2em 0 0;
}
.Destination-item:hover .Destination-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Destination-item:hover .Destination-arrow-box {
  background: #019ac4;
}
.Destination-item:hover .Destination-arrow-box::before {
  display: inline-block;
  content: 'Hotels';
  position: absolute;
  left: -4em;
  left: -7em;
  padding: 1.3em 1.6em;
  top: -0.1em;
  text-transform: uppercase;
  font-style: italic;
  font-weight: normal;
  font-size: 0.7em;
}
.Destination-info {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -70%;
  padding: 1.5em 1em 0em;
  background: rgba(20,66,99,0.9);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.Destination-title {
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  transition: all 0.75s ease;
  font-size: 1.25em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}
.Destination-title em {
  font-style: italic;
  display: block;
  color: #019ac4;
  font-size: 0.5em;
}
.Destination-title span {
  display: block;
}
.Destination-link {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
}
.Destination-arrow-box {
  position: absolute;
  right: 2em;
  bottom: 2em;
  padding: 0.8em 1em 0.7em;
  font-weight: bold;
  color: #fff;
  border: 2px solid #019ac4;
  text-decoration: none;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  transition: all 1.5s ease;
  position: absolute;
}
.DestinationMini {
  margin: 2em 0;
}
.DestinationMini-item {
  display: block;
  height: 150px;
  background: #144263;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #b4ddd9;
}
.DestinationMini-item:hover .DestinationMini-info {
  bottom: 0;
}
.DestinationMini-item:hover .DestinationMini-title {
  margin-top: 1em;
}
.DestinationMini-item:hover .DestinationMini-arrow-box {
  background: #019ac4;
}
.DestinationMini-item:hover .DestinationMini-arrow-box::before {
  display: inline-block;
  content: 'Hotels';
  position: absolute;
  left: -4em;
  left: -7em;
  padding: 1.3em 1.6em;
  top: -0.1em;
  text-transform: uppercase;
  font-style: italic;
  font-weight: normal;
  font-size: 0.5em;
}
.DestinationMini-info {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -55%;
  padding: 1em 1em 0em;
  background: rgba(20,66,99,0.8);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.DestinationMini-title {
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  transition: all 0.75s ease;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
}
.DestinationMini-title em {
  font-style: italic;
  display: block;
  color: #019ac4;
  font-size: 0.5em;
}
.DestinationMini-title span {
  display: block;
}
.DestinationMini-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
}
.DestinationMini-arrow-box {
  position: absolute;
  right: 1em;
  bottom: 1em;
  padding: 0.5em 0.75em 0.3em;
  font-weight: bold;
  color: #fff;
  border: 2px solid #019ac4;
  text-decoration: none;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  transition: all 1.5s ease;
  position: absolute;
}
.DestinationNext {
  margin: 2em 0;
}
.DestinationNext-item {
  border: 1px solid #144263;
  text-align: center;
  display: block;
  min-height: 300px;
  position: relative;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  transition: all 1s ease-in;
  padding: 5em 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-bottom: 2em;
  background-color: #144263;
  border: 2px solid #b4ddd9;
}
.DestinationNext-item:hover .DestinationNext-arrow-box {
  background: #019ac4;
  -webkit-transition: background 0.35s ease-in;
  -moz-transition: background 0.35s ease-in;
  -o-transition: background 0.35s ease-in;
  -ms-transition: background 0.35s ease-in;
  transition: background 0.35s ease-in;
}
.DestinationNext-title {
  font-size: 2em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1em;
}
.DestinationNext-title em {
  font-style: italic;
  display: block;
  font-size: 0.5em;
}
.DestinationNext-title span {
  color: #019ac4;
  display: block;
}
.DestinationNext-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
}
.DestinationNext-arrow-box {
  margin: 0 auto;
  font-weight: 700;
  color: #fff;
  border: 2px solid #019ac4;
  text-decoration: none;
  font-size: 1em;
  padding: 1em 1.3em;
  display: inline-block;
}
.DestinationNextMini {
  margin: 2em 0;
}
.DestinationNextMini-item {
  z-index: 0;
  text-align: center;
  display: block;
  height: 146px;
  position: relative;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  padding: 1.5em 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin: 2px 2px 2em 2px;
  background-color: #144263;
  border: 2px solid #144263;
}
.DestinationNextMini-item:hover {
  background-color: #fff;
  border: 2px solid #144263;
}
.DestinationNextMini-item:hover .DestinationNextMini-title {
  color: #144263;
}
.DestinationNextMini-item:hover .DestinationNextMini-arrow-box {
  background: #019ac4;
  -webkit-transition: background 0.35s ease-in;
  -moz-transition: background 0.35s ease-in;
  -o-transition: background 0.35s ease-in;
  -ms-transition: background 0.35s ease-in;
  transition: background 0.35s ease-in;
}
.DestinationNextMini-title {
  font-size: 2em;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1em;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.DestinationNextMini-title em {
  font-style: italic;
  display: block;
  font-size: 0.5em;
}
.DestinationNextMini-title span {
  color: #019ac4;
  display: block;
  line-height: 1.25;
}
.DestinationNextMini-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
}
.DestinationNextMini-arrow-box {
  margin: 0 auto;
  font-weight: 700;
  color: #fff;
  border: 2px solid #019ac4;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0.8em 1em;
  display: inline-block;
}
.HotelDescription-hotel-name {
  text-align: right;
  margin-top: -2em;
}
.HotelDescription-hotel-name h2 {
  text-transform: uppercase;
  color: #c5c6c8;
  font-size: 1.25em;
  font-weight: 700;
}
.HotelDescription-hotel-name h2 span {
  font-size: 0.75em;
  display: block;
  color: #144263;
}
.HotelDescription-container {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 12vh; /* These two lines are counted as one :-)       */
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.HotelDescription-container > div:first-child {
  padding-right: 0;
}
.HotelDescription-container > div:last-child {
  padding-left: 0;
}
.HotelDescription-description {
  color: #77787a;
  font-size: 11px;
  line-height: 1.5em;
  font-weight: 400;
  word-spacing: 0.25em;
  border-bottom: 1px solid #c5c6c8;
  text-align: justify;
  padding: 0 0 3em;
  margin: 0 2em 2em;
}
.HotelDescription-description strong {
  font-weight: 700;
}
.HotelDescription-description:last-child {
  border-bottom: none;
  padding: 0;
}
.HotelDescription-tab-content {
  background-color: #fff;
  margin-bottom: 3em;
  border: 2px solid #144263;
}
.HotelDescription-tab {
  margin: 1em 0 0;
  color: #144263;
}
.HotelDescription-tab li {
  background-color: #fff;
  display: inline-block;
}
.HotelDescription-tab li.active {
  background: #144263;
}
.HotelDescription-tab li.active a {
  color: #fff;
}
.HotelDescription-tab li a {
  border: 2px solid #144263;
  border-bottom: none;
  display: block;
  padding: 0.75em 1em;
  text-decoration: none;
}
.HotelDescription-tab li a:active,
.HotelDescription-tab li a:focus,
.HotelDescription-tab li a:hover {
  border: 2px solid #144263;
  border-bottom: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #144263;
  color: #fff;
  text-decoration: none;
}
.HotelDescription-slide {
  max-width: 100%;
  margin: -2em 0 2em;
}
.HotelDescription-image {
  display: block;
  max-width: 100%;
  margin-bottom: 2em;
}
.HotelDescription-stars {
  font-size: 1em;
  line-height: 1.5em;
  color: #fabb00;
}
.HotelDescription-title {
  color: #144263;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 700;
}
.HotelDescription-amenities {
  text-align: right;
}
.HotelDescription-amenities span {
  color: #144263;
  font-size: 2em;
}
.ErrorPage {
  text-align: center;
  padding: 3em 0;
  text-transform: uppercase;
}
.ErrorPage-number {
  font-size: 4em;
  color: #144263;
}
.ErrorPage-message {
  font-size: 3em;
  color: #019ac4;
}
.ErrorPage-link {
  background-color: #fff;
  display: inline-block;
  margin: 1em 0;
  font-size: 1.5em;
  padding: 1em;
  border: 2px solid #144263;
}
.ErrorPage-link:active,
.ErrorPage-link:focus,
.ErrorPage-link:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #144263;
  color: #fff;
  text-decoration: none;
}
#SecuredArea {
  background-color: #b4ddd9;
  margin: 3em auto;
}
#SecuredArea .column {
  max-width: 450px;
}
#pdf-wrapper {
  margin: 20px auto;
  width: 100% !important;
}
#pdf-wrapper .Title {
  text-align: center;
}
.IconDescription {
  padding: 2em;
  color: #898a8a;
}
.IconDescription-item {
  color: #77787a;
  font-size: 0.6em;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 300;
  word-spacing: 0.5em;
  position: relative;
}
.IconDescription-item:last-child .IconDescription-text::after {
  border-bottom: none;
}
.IconDescription-icon {
  color: #144263;
  font-size: 3em;
  padding-right: 1em;
  margin-right: 1em;
  border-right: 1px solid #c5c6c8;
  padding: 1em 1em 1em 0;
  display: inline-block;
  vertical-align: middle;
}
.IconDescription-text {
  display: inline-block;
}
.IconDescription-text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10em;
  border-bottom: 1px solid #c5c6c8;
  width: 75%;
}
.StaticPage-content {
  border: 2px solid #144263;
  background-color: #fff;
  padding: 3em 2em;
  margin-bottom: 3em;
  color: #77787a;
  font-size: 12px;
  font-weight: 400;
  word-spacing: 0.25em;
  text-align: justify;
}
.StaticPage-content strong {
  font-weight: 700;
}
.StaticPage-content ul {
  margin: 1em 0 1em 2em;
  list-style: circle;
}
.panel-primary,
.panel-heading {
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .FooterItem-description span {
    font-size: 0.9em;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .Destination-info {
    padding: 0.75em 1em 0em;
  }
  .Destination-title {
    font-size: 1em;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }
  .Destination-item {
    height: 200px;
  }
  .Destination-item:hover .Destination-title {
    -o-text-overflow: inherit;
    text-overflow: inherit;
    white-space: normal;
  }
  .Destination-arrow-box {
    right: 1em;
    bottom: 1em;
  }
  .DestinationNext-title {
    margin-bottom: 0.75em;
  }
  .DestinationNext-item {
    padding: 1em 0 0;
    min-height: 200px;
  }
  .DestinationBack-title {
    margin-bottom: 1.2em;
  }
  .DestinationBack-item {
    padding: 1em 0 0;
    min-height: 196px;
  }
  .Header-logo {
    padding: 27px 0 0;
  }
  .Footer-logo-container {
    text-align: center;
  }
  .Footer-top > .container > .row {
    margin-left: 0;
    margin-right: 0;
  }
  .Footer-top .col-sm-3 {
    padding: 0;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .SearchResult {
    margin: 0 0 1em;
  }
  .Header {
    text-align: center;
    height: 100%;
  }
  .Navigation-list {
    text-align: center;
  }
  .Navigation-item.active::after {
    bottom: -0.5em;
  }
  .col-xsm-12 {
    width: 100%;
  }
  .HotelCard {
    height: auto;
  }
  .HotelCard-header::before {
    border-top: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid #144263;
    border-left: 0.5em solid transparent;
    margin-top: -1em;
    margin-left: -0.5em;
    left: 50%;
    top: 0;
  }
  .Footer-top {
    text-align: center;
  }
  .Footer-logo {
    margin-bottom: 2em;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .col-xxs-12 {
    width: 100%;
  }
  .Util-xxs-text-center {
    text-align: center;
  }
  .Title {
    padding: 1em 0 0;
  }
  .Subtitle {
    padding: 1em 0;
  }
  .Header-logo {
    padding: 2em;
  }
  .Navigation-list {
    text-align: center;
  }
  .Navigation-item {
    display: block;
    padding: 0;
    line-height: 4em;
  }
  .Navigation-link {
    display: block;
    border-bottom: 2px solid #144263;
  }
  .Navigation-link span {
    display: none;
  }
  .DestinationMini-item {
    height: 200px;
  }
  .ErrorPage-number {
    font-size: 3em;
  }
  .ErrorPage-message {
    font-size: 2em;
  }
  .ErrorPage-top {
    text-align: center;
  }
  .FooterItem {
    margin-bottom: 2em;
  }
  .SocialMedia-list {
    text-align: center;
    font-size: 1.5em;
  }
}
/* Custom, iPhone Retina */
.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

RequestBooking {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 700;
  min-height: 300px;
  background: #144263;
  border: 2px solid #144263;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.RequestBooking-header {
  font-size: 1.25em;
  font-weight: 700;
  background: #144263;
  color: #019ac4;
  position: relative;
}
.RequestBooking-title {
  display: block;
  color: #019ac4;
  font-weight: 700;
  padding: 16px 24px;
  background-color: #fff;
}
.RequestBooking-title span {
  color: #019ac4;
}
.RequestBooking-info {
  padding: 24px 24px 0px 24px;
}
.RequestBooking-label {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #019ac4;
}
.RequestBooking-label span {
  line-height: 32px;
  font-style: normal;
  color: #77787a;
  font-size: 12px;
  font-weight: 700;
}
