{% form_theme form _self %}
{% block _gushh_corebundle_invoice_item_entry_widget %}
    <tr class="invoiceItemRow">
        <td>{{ form_widget(form.detail) }}</td>
        <td>{{ form_widget(form.amount) }}</td>
        <td style="text-align: center;"><i class="icon wb-trash itemRemove" aria-hidden="true" onclick="removeItem('__name__');"></i></td>
    </tr>
</div>
{% endblock %}
